<div class="accordion">
  {% for block in section.blocks %} 
  {% if block.settings.title != blank or block.settings.content != blank %}
  <div class="accordion-section">
    <a class="accordion-section-title" href="#accordion-1_{{ block.id }}">{{ block.settings.title }}</a>
    <div id="accordion-1_{{ block.id }}" class="accordion-section-content">
      <p>{{ block.settings.content }}</p>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>


{% schema %}
  {
    "name": "Accordion Content",
    "settings": [
	],
      "blocks": [
      {
        "type": "select",
        "name": "Add More Block",
        "settings": [
            {
              "type":      "text",
              "id":        "title",
              "label":     "Add Title"
            },
            {
              "type":      "textarea",
              "id":        "content",
              "label":     "Add Content"
            }
     	]
   	  }
 	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
