{% if section.settings.video_link  != blank %}
<div class="queue content-justify-center">
  <div class="column-12 column-md-6">
    <div class="video-holder">
      <video  autoplay="" preload="true" muted="" loop="" playsinline="">
        <source class="source-vid" src="{{ section.settings.video_link  }}">
      </video>
    </div>
  </div>
</div>
{% endif %}


<style>
 .prod-details-block .video-holder .default { border: 0; box-shadow: inherit; position: static;font-size: 0;}
</style>
{% schema %}
  {
    "name": "Video",
    "settings": [
      {
        "type":      "url",
        "id":        "video_link",
        "label":     "Video Link"
      }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
