<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
<body>
	<div class="home-wrapper custom-style00 overflow-hidden">
{%comment%}
		<header class="header-wrapper">
			<div class="vessel-fluid">
				<div class="queue">
					<div class="column">
						<p>free shipping on orders over $50</p>
					</div>
				</div>
				<div class="queue">
					<div class="column">
						<div class="header-menu">
							<div class="menu-icon">
								<div class="menu-icon-close"><i class="fa fa-bars" aria-hidden="true"></i></div>
								<div class="menu-icon-open"><i class="fa fa-times" aria-hidden="true"></i></div>
							</div> 
							<a href="#" class="header-logo"><img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/logo.svg?v=1657132108" alt="img"></a>
							<form class="search-wrapper">
								<div class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
								<div class="em-input"><input placeholder="Search..." type="search"></div>
								<div class="search-icon-open"><i class="fa fa-times" aria-hidden="true"></i></div>
							</form>	
						</div>
					</div>
				</div>
				<div class="queue">
					<div class="column">
						<div class="header-navigation">
							<div class="currency-container">
								<div class="em-currency">
									<span class="default-currency">USD $</span>
									<div class="currency-toggle">
										<div class="icon-chevron-down"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
										<div class="icon-chevron-up"><i class="fa fa-angle-up" aria-hidden="true"></i></div>
									</div>
								</div>
								<ul class="currency-list">
									<li><span>GBP £</span></li>
									<li><span>USD $</span></li>
								</ul>
							</div>	
							<nav class="navigation-menu">
								<ul>
									<li><a href="#">home</a></li>
									<li><a href="#">shop</a></li>
									<li><a href="#">about</a></li>
									<li><a href="#">trio talk</a></li>
									<li><a href="#">color match</a></li>
								</ul>
							</nav>
							<div class="header-cart">
								<span>cart(1)</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
{%endcomment%}
		<div class="main-banner-wrapper overflow-hidden">
			<div class="vessel-fluid">
				<div class="queue">
					<div class="column padding-0"> 
						<div class="main-container position-relative">
							<div class="image-container">
								<img class="height-100" src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/h-banner-1.jpg?v=1657132108" alt="img">
							</div>
							<div class="content-container">
								<h1>Butterfly <span> Brow Trio :</span></h1>
								<p class="text-capitalize">Get ready for a Brow metamorphosis. Create the trending lamination look instantly with our transformational 3 step trio.</p>
								<a href="#" class="btn btn-primary">Shop Now</a>
							</div> 
						</div> 
					</div>
				</div>
			</div>
		</div>
		<div class="mission-wrapper overflow-hidden custom-space">
			<div class="vessel">
				<div class="queue">
					<div class="column">
						<div class="mission-container text-align-center">
							<span class="text-uppercase mb-3">our mission</span>
							<p>Vegan and cruelty-free beauty inspired by all your unique forms. Reminding you that all your versions are equally worthy.</p>
							<a href="#" class="btn btn-outline-primary">learn more</a>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<div class="ultimate-wrapper overflow-hidden custom-space">
			<div class="vessel">
				<div class="queue mb-4 justify-content-lg-center">
					<div class="column-12 order-1 column-md-6 column-lg-6 order-md-0">
						<div class="image-container">
							<img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/h-image-1.jpg?v=1657132108" alt="img">
						</div>
					</div>
					<div class="column-12 mb-4 column-md-6 column-lg-5 mb-md-0">
						<div class="content-container">
							<h2 class="mb-3">Home of theTrending Brow Trio : Ultimate Stencil Kit</h2>
							<p>Designed to guide you to create your best Brow shape. Our most popular Brow kit comes with 12 stencils options, waterproof and smudge-proof pomade and our signature sponge brush.</p>
							<a href="#" class="btn btn-outline-primary">shop the kit</a>
						</div>
					</div>
				</div>
				<div class="queue custom-space">
					<div class="column-12">
						<div class="featured-container text-align-center">
							<span class="text-uppercase mb-3 mb-lg-4 mb-xl-5">featured in</span>
							<div class="image-wrapper d-flex align-items-center justify-content-center">
								<div class="image">
									<img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/bustle.png?v=1657132108" alt="img">
								</div>
								<div class="image">
									<img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/marie.png?v=1657132108" alt="img">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="queue custom-space justify-content-lg-center">
					<div class="column-12 mb-4 column-md-6 column-lg-5 mb-md-0">
						<div class="cc-container">
							<h2 class="canela-thinitalic mb-3">A metamorphosis for your Brows.</h2>
							<p>Create the Brow lamination look instantly with our transformational 3 step trio. Our Lifting Wax, Microfill Pencil and Swipe Pen sculpt and form a fluffy, lifted and bold Brow, similar to the look of a semi-permanent Brow lamination.</p>
							<a href="#" class="btn btn-outline-primary">shop the kit</a>
						</div>	
					</div>
					<div class="column-12 column-md-6 column-lg-6 ">
						<div class="image-container">
							<img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/h-image-2.jpg?v=1657132108" alt="img">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="trio-beauty-wrapper overflow-hidden custom-space">
			<div class="vessel">
				<div class="queue">
					<div class="column">
						<div class="content-container text-align-center mb-4 mb-lg-5">
							<h2>What’s Trending at Trio Beauty?</h2>
						</div>
					</div>
				</div>
				<div class="queue justify-content-lg-center">
					<div class="column-12 column-sm-4 column-lg-3 mb-4 mb-sm-0">
						<div class="tb-container">
							<div class="image"><img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/trend-1.jpg?v=1657132108" alt="img"></div>
							<h3>Butterfly Brow Trio:<span>Lifting Kit</span></h3>
							<p>Get the look of lamination instantly with our lifting trio.</p>
							<a href="#" class="btn btn-outline-primary">shop now</a>
						</div>
					</div>
					<div class="column-12 column-sm-4 column-lg-3 mb-4 mb-sm-0">
						<div class="tb-container">
							<div class="image"><img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/trend-2.jpg?v=1657132108" alt="img"></div>
							<h3>Clear As Crystal <span>Brow Gel</span></h3>
							<p>Set and fluff your Brows for an all day flexible hold.</p>
							<a href="#" class="btn btn-outline-primary">shop now</a>
						</div>
					</div>
					<div class="column-12 column-sm-4 column-lg-3">
						<div class="tb-container">
							<div class="image"><img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/trend-3.jpg?v=1657132108" alt="img"></div>
							<h3>The Cheek Trio:<span>Blush and Glow Kit</span></h3>
							<p>Meet our latest arrival a blush, bronzer and highlighter kit.</p>
							<a href="#" class="btn btn-outline-primary">shop now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="define-beauty-wrapper overflow-hidden custom-space">
			<div class="vessel">
				<div class="queue">
					<div class="column-12 order-1 column-md-6 order-md-0">
						<div class="image">
							<img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/beauty-women.jpg?v=1657132108" alt="img">
						</div>
					</div>
					<div class="column-12 mb-4 column-md-6 column-lg-5 mb-md-0">
						<div class="content-container">
							<h2 class="mb-4">Our Philosophy : Beauty is yours to define</h2>
							<p>We take on many forms that make us feel powerful, beautiful, and true to who we are. At Trio Beauty we strive to create a community that celebrates all your forms, makeup to no makeup, every way you present yourself is beautiful and unique.</p>
							<a href="#" class="btn btn-outline-primary">our story</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="started-wrapper overflow-hidden" style="background: #000 url('https://cdn.shopify.com/s/files/1/0417/9004/6370/files/two-women.jpg?v=1657132108');background-position: center;background-size: cover;background-repeat: no-repeat;">
			<div class="vessel">
				<div class="queue">
					<div class="column">
						<div class="content-container text-align-center">
							<h2 class="mb-4"><span class="em-ft">Team Trio :</span> Be a part of our team. <span>Give 10 and get 10 by refering a friend.</span></h2>
							<a href="#" class="btn btn-primary">get started</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="find-us-wrapper overflow-hidden custom-space">
			<div class="vessel">
				<div class="queue">
					<div class="column">
						<div class="content-container text-align-center mb-4">
							<span>Find us on insta <a href="#">@triobeautyco</a></span>
						</div>	
					</div>
				</div>
				<div class="queue">
					<div class="column">
						<div class="find-container d-flex flex-wrap justify-content-center">
							<div class="image-container">
								<a href="#" target="_blank" class="image"><img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/insta-1.jpg?v=1657132108" alt="img"></a>
								<div class="icon"><img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/insta.svg?v=1657132108" alt="icon"></div>
							</div>
							<div class="image-container">
								<a href="#" target="_blank" class="image"><img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/insta-2.jpg?v=1657132108" alt="img"></a>
								<div class="icon"><img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/insta.svg?v=1657132108" alt="icon"></div>
							</div>
							<div class="image-container">
								<a href="#" target="_blank" class="image"><img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/insta-3.jpg?v=1657132108" alt="img"></a>
								<div class="icon"><img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/insta.svg?v=1657132108" alt="icon"></div>
							</div>
							<div class="image-container">
								<a href="#" target="_blank" class="image"><img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/insta-4.jpg?v=1657132108" alt="img"></a>
								<div class="icon"><img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/insta.svg?v=1657132108" alt="icon"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

{%comment%}
		<footer class="footer-wrapper custom-space">
			<div class="vessel-fluid">
				<div class="queue">
					<div class="column-12 column-sm-4 column-lg-3 mb-3">
						<ul>
							<li>contact us</li>
							<li><a href="mailto: info@triobeauty.com">INFO@TRIOBEAUTY.COM</a></li>
						</ul>
					</div>
					<div class="column-12 column-sm-4 column-lg-3 mb-3">
						<ul>
							<li>our story</li>
							<li><a href="#">REVIEW</a></li>
							<li><a href="#">BLOG</a></li>
							<li><a href="#">PRIVAY POLICY</a></li> 
						</ul>
					</div>
					<div class="column-12 column-sm-4 column-lg-3 mb-3">
						<ul>
							<li><a href="#">SHIPPING & DEILIVERY</a></li>
							<li><a href="#">RETURNS & EXCHANGES</a></li>
							<li><a href="#">GIVING BACK</a></li>
						</ul>
					</div>
					<div class="column-12 column-sm-6 column-lg-3 mb-4">
						<strong class="mb-1">Join Team Trio</strong>
						<form class="form-container" action="#">
							<input class="mb-2" id="email" type="email">
							<label class="mb-3" for="email">BY CLICKING SIGN UP NOW, YOU AGREE TO RECEIVE MARKETING TEXT MESSAGES FROM THE Brow TRIO AT THE NUMBER PROVIDED, INCLUDING MESSAGES SENT BY AUTODIALER. CONSENT IS NOT A CONDITION OF ANY PURCHASE. MESSAGE AND DATA RATES MAY APPLY. MESSAGE FREQUENCY VARIES. REPLY HELP FOR HELP OR STOP TO CANCEL. VIEW OUR PRIVACY POLICY AND TERMS OF SERVICE.</label>
							<button class="btn btn-primary">subscribe now</button>
						</form>
					</div>
					<div class="column-12 text-align-center">
						<p><a href="#">	&copy; 2022 TRIO BEAUTY.</a> ALL RIGHTS RESERVED.</p>
					</div>
				</div>
			</div>
		</footer>
{%endcomment%}
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
</body>
</html>