<!-- {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }} -->
<!-- <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script> -->

{% assign product = all_products["the-brow-trio-kit"] %}




<!-- quiz-popups-html-css-js-code -->

<div class="selection-popup popup quiz-page-container" data-popup="popup-1">
  <div class="popup-inner quiz-page-wrapper">
    <span class="qz-match">color match quiz</span>
    <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    <div class="steps-frame">
      <div class="step-box current first">
        <strong class="heading">What is your hair color?</strong>

        <!-- Replacement Pomade for The Brow Trio ® -->
        {% if product.id == 5931919933602 %}
        <ul class="steps-list" id="first_step_color">
          <li>
            <input id="radio1" type="radio" name="color" checked="checked" data-image="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/blonde.png?v=1628690411" variant-darker="37071410659490" variant-darker-title="Taupe" variant-same="37071410626722" variant-same-title="Blonde" variant-lighter="37071410626722" variant-lighter-title="Blonde">
            <label for="radio1" class="label">
              <span class="image-frame">
                <img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/blonde.png?v=1628690411" alt="image">
              </span>
              <span class="title">Blonde</span>
            </label>
          </li>
          <li>
            <input id="radio2" type="radio" name="color" data-image="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/dark-blonde.png?v=1628690605" variant-darker="37071410692258" variant-darker-title="Soft Brown" variant-same="37071410659490" variant-same-title="Taupe" variant-lighter="37071410626722" variant-lighter-title="Blonde">
            <label for="radio2" class="label">
              <span class="image-frame">
                <img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/dark-blonde.png?v=1628690605" alt="image">
              </span>
              <span class="title">Dark Blonde or Grey</span>
            </label>
          </li>
          <li class="break"></li>
          <li>
            <input id="radio3" type="radio" name="color" data-image="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/Brunette.png?v=1628690746" variant-darker="37071410725026" variant-darker-title="Medium Brown" variant-same="37071410692258" variant-same-title="Soft Brown" variant-lighter="37071410659490" variant-lighter-title="Taupe">
            <label for="radio3" class="label">
              <span class="image-frame">
                <img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/Brunette.png?v=1628690746" alt="image">
              </span>
              <span class="title">Brunette</span>
            </label>
          </li>
          <li>
            <input id="radio4" type="radio" name="color" data-image="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/red.png?v=1628691284" variant-darker="37793066680482" variant-darker-title="Auburn" variant-same="37506715287714" variant-same-title="Caramel" variant-lighter="37506715287714" variant-lighter-title="Caramel">
            <label for="radio4" class="label">
              <span class="image-frame">
                <img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/red.png?v=1628691284" alt="image">
              </span>
              <span class="title">Red</span>
            </label>
          </li>
          <li>
            <input id="radio5" type="radio" name="color" data-image="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/dark-red.png?v=1628691528" variant-darker="37793066680482" variant-darker-title="Auburn" variant-same="37793066680482" variant-same-title="Auburn" variant-lighter="37506715287714" variant-lighter-title="Caramel">
            <label for="radio5" class="label">
              <span class="image-frame">
                <img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/dark-red.png?v=1628691528" alt="image">
              </span>
              <span class="title">Dark Red</span>
            </label>
          </li>
          <li class="break"></li>
          <li>
            <input id="radio6" type="radio" name="color" data-image="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/dark-brown.png?v=1628691620" variant-darker="39460250189986" variant-darker-title="Ebony" variant-same="37071410757794" variant-same-title="Dark Brown" variant-lighter="37071410725026" variant-lighter-title="Medium Brown">
            <label for="radio6" class="label">
              <span class="image-frame">
                <img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/dark-brown.png?v=1628691620" alt="image">
              </span>
              <span class="title">Dark Brown</span>
            </label>
          </li>
          <li>
            <input id="radio7" type="radio" name="color" data-image="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/black.png?v=1628691664" variant-darker="39460250189986" variant-darker-title="Ebony" variant-same="39460250189986" variant-same-title="Ebony" variant-lighter="37071410757794" variant-lighter-title="Dark Brown">
            <label for="radio7" class="label">
              <span class="image-frame">
                <img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/black.png?v=1628691664" alt="image">
              </span>
              <span class="title">Black</span>
            </label>
          </li>
        </ul>
        {% endif %}


        <!-- The Brow Trio ® -->
        {% if product.id == 5787552481442 %}
        <ul class="steps-list" id="first_step_color">
          <li>
            <input id="radio1" type="radio" name="color" checked="checked" data-image="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/blonde.png?v=1628690411" variant-darker="36457390538914" variant-darker-title="Taupe" variant-same="36457390506146" variant-same-title="Blonde" variant-lighter="36457390506146" variant-lighter-title="Blonde">
            <label for="radio1" class="label">
              <span class="image-frame">
                <img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/blonde.png?v=1628690411" alt="image">
              </span>
              <span class="title">Blonde</span>
            </label>
          </li>
          <li>
            <input id="radio2" type="radio" name="color" data-image="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/dark-blonde.png?v=1628690605" variant-darker="36457390604450" variant-darker-title="Soft Brown" variant-same="36457390538914" variant-same-title="Taupe" variant-lighter="36457390506146" variant-lighter-title="Blonde">
            <label for="radio2" class="label">
              <span class="image-frame">
                <img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/dark-blonde.png?v=1628690605" alt="image">
              </span>
              <span class="title">Dark Blonde or Grey</span>
            </label>
          </li>
          <li class="break"></li>
          <li>
            <input id="radio3" type="radio" name="color" data-image="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/Brunette.png?v=1628690746" variant-darker="36457390637218" variant-darker-title="Medium Brown" variant-same="36457390604450" variant-same-title="Soft Brown" variant-lighter="36457390538914" variant-lighter-title="Taupe">
            <label for="radio3" class="label">
              <span class="image-frame">
                <img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/Brunette.png?v=1628690746" alt="image">
              </span>
              <span class="title">Brunette</span>
            </label>
          </li>
          <li>
            <input id="radio4" type="radio" name="color" data-image="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/red.png?v=1628691284" variant-darker="37793065336994" variant-darker-title="Auburn" variant-same="37506717155490" variant-same-title="Caramel" variant-lighter="37506717155490" variant-lighter-title="Caramel">
            <label for="radio4" class="label">
              <span class="image-frame">
                <img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/red.png?v=1628691284" alt="image">
              </span>
              <span class="title">Red</span>
            </label>
          </li>
          <li>
            <input id="radio5" type="radio" name="color" data-image="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/dark-red.png?v=1628691528" variant-darker="37793065336994" variant-darker-title="Auburn" variant-same="37793065336994" variant-same-title="Auburn" variant-lighter="37506717155490" variant-lighter-title="Caramel">
            <label for="radio5" class="label">
              <span class="image-frame">
                <img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/dark-red.png?v=1628691528" alt="image">
              </span>
              <span class="title">Dark Red</span>
            </label>
          </li>
          <li class="break"></li>
          <li>
            <input id="radio6" type="radio" name="color" data-image="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/dark-brown.png?v=1628691620" variant-darker="39446195437730" variant-darker-title="Ebony" variant-same="36457390768290" variant-same-title="Dark Brown" variant-lighter="36457390637218" variant-lighter-title="Medium Brown">
            <label for="radio6" class="label">
              <span class="image-frame">
                <img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/dark-brown.png?v=1628691620" alt="image">
              </span>
              <span class="title">Dark Brown</span>
            </label>
          </li>
          <li>
            <input id="radio7" type="radio" name="color" data-image="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/black.png?v=1628691664" variant-darker="39446195437730" variant-darker-title="Ebony" variant-same="39446195437730" variant-same-title="Ebony" variant-lighter="36457390768290" variant-lighter-title="Dark Brown">
            <label for="radio7" class="label">
              <span class="image-frame">
                <img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/black.png?v=1628691664" alt="image">
              </span>
              <span class="title">Black</span>
            </label>
          </li>
        </ul>
        {% endif %}


      </div>
      <div class="step-box">
        <strong class="heading">Which of the following is true about your brow hair?</strong>
        <ul class="list" id="second_step_color">
          <li>
            <input id="brow1" type="radio" name="brow_color" checked="checked">
            <label for="brow1" id="click">My brow hair is lighter than my hair</label>
          </li>
          <li>
            <input id="brow2" type="radio" name="brow_color">
            <label for="brow2">My brow hair is the same color as my hair</label>
          </li>
          <li>
            <input id="brow3" type="radio" name="brow_color">
            <label for="brow3">My brow hair is darker than my hair</label>
          </li>
        </ul>
      </div>
      <div class="step-box step-three last">
        <strong class="lead heading">Your Shade Match</strong>
        <strong class="heading" id="matched_variant_title">caramel</strong>
        <div class="color-item">
          <div class="image-holder">
            {% if product.id == 5931919933602%}
            <img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/products/image_d0982057-6d44-44ea-8e00-0b4d8e5f28bb.jpg?v=1627001758" alt="image">
            {% else %}
            <img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/colorquizind.png?v=1641843797" alt="image">
            {% endif %}
          </div>
          {% comment %}<span class="title"><em>Shop Blonde</em>s</span>{% endcomment %}
        </div>
        <form method="post" action="/cart/add">
          <input type="hidden" name="id" id="matched_variant" />
          <input min="1" type="hidden" name="quantity" value="1"/>
          <div style="display: flex; justify-content: center;">
            <button type="submit" class="btn">Add to cart</button>
          </div>
        </form> 
      </div>
      <!-- next-previous-buttons -->
      <div style="display: flex; justify-content: center; margin-top:10px;">
        <button name="prev" id="wr_prev" class="btn" style="margin:0 5px;">Prev</button>
        <button name="next" id="wr_next" class="btn" style="margin:0 5px;">Next</button>
      </div>
    </div>
  </div>
</div>



<style>
  div#stickytypeheader{z-index:9999; opacity:0;}
  div#stickytypeheader .btn {
    color: #fff;
    flex: 0 0 120px;
    max-width: 120px;
    border: 0;
    margin-right: 0;
    padding: 8px;
    background: transparent;
    transition: all .3s ease-in-out;
    font: 700 12px/1 arial;
    height: 44px;
    letter-spacing: 2px;
    border-right: 1px solid #f6dadf !important;
  }
  div#stickytypeheader .fix-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  div#stickytypeheader .btn_price_ {
    display: flex;
    align-items: center;
    background: #b07c83;
    border-radius: 3px;
    box-shadow: 0 0 13px 0 rgb(0 0 0 / 20%);
  }
  div#stickytypeheader .pro-title {
    background: #fff;
    border-radius: 3px;
    line-height: 43px;
    margin-right: 10px;
    padding: 0 16px;
    transition: opacity .3s linear,visibility 0s .3s;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 24%);
    font-weight: bold;
  }
  div#stickytypeheader .price{padding:0 !important; margin: 0 !important;}
  div#stickytypeheader strong#tr_price {
    margin: 0 !important;
    font-size: 14px !important;
    color: #fff;
    padding: 0 14px !important;
  }
  
  
  @media only screen and (max-width: 768px) {
    
    .color_match_btn #wk_desktop_ .btn{margin-top:15px; margin-bottom:20px;}
    
    .product-details .price{flex-basis: 13.33%;}
    div#stickytypeheader .btn {
    flex: auto;
    max-width: inherit;
    }
    div#stickytypeheader {
      z-index: 9999999999;}
    div#stickytypeheader {
    position: fixed !important;
    top: auto !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 !important;
    background: #fff;
    padding: 24px 21px;
    width: 100vw;
    border: 1px solid #e4e4e4;
      display:block !important;
      opacity:1 !important;
}
    div#stickytypeheader .pro-title {
    background: transparent;
    line-height: initial;
    padding: 0;
          font-size:18px;

    box-shadow: inherit;
    font-weight: bold;
    width: 100%;
    margin: 0 0 13px;
}
    div#stickytypeheader .btn_price_{width:100%;}
div#stickytypeheader .btn {
    color: #fff;
     flex-basis: 86.66%;
    border: 0;
    margin-right: 0;
    padding: 8px;
  font: 700 12px/1 arial;
    background: transparent;
    transition: all .3s ease-in-out;
    height: 50px;
    letter-spacing: 2px;
    border-right: 1px solid #f6dadf !important;
}
    div#staticheader{display:none !important;}
  }
  
  @media only screen and (max-width: 575px) {
    div#stickytypeheader .btn {
        flex-basis: 86.66%;
    }
  
  }
/*   mhb */
  .quiz-page-wrapper .qz-match {display: block;
color: #b17c84;
text-align: center;
font-size: 20px;
position: relative;
z-index: 9999;
font-family: nantes !important;
padding-top: 10px;
font-weight: 900;
}
  .btn-popup {
  margin: 0 0 15px;
  display: inline-block;
  text-decoration: underline!important;
}

/* Outer */
.quiz-page-container {
/*   top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  overflow-y: auto;
  background: #fff; */
  position:relative;
  width:100%;
  display:block;
}

/* Inner */
.quiz-page-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  background:#fff;
  position: absolute;
}
.variation-header {
  padding: 17px 15px;
}
.colors-count {
  font-size: 18px;
  display: block;
}

/* Close Button */
.quiz-page-wrapper .popup-close {
  width: 30px;
  height: 30px;
  display:inline-block;
  position:absolute;
  top:34px;
  right:20px;
  transition:ease 0.25s all;
  transform:translate(50%, -50%);
  border-radius:1000px;
  background:rgba(0,0,0,0.8);
  font-family:Arial, Sans-Serif;
  font-size:20px;
  text-align:center;
  line-height:100%;
  color:#fff;
  display:none;
}

.colors-list li {
  padding: 20px 20px;
}
.colors-list li label {
  font-size: 12px;
  color: #fff;
  padding: 0;
  display: flex;
  letter-spacing: normal;
  text-transform: none;
}
.colors-list li label span {
  margin: 0 3px 0 0;
  text-transform: uppercase;
}
.default {
  border: 0 solid rgba(0,0,0,.2);
  box-shadow: 0 0 20px rgb(0 0 0 / 20%);
  position: relative;
  font-size: 0;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.box4 p {

  font-family: arial;

}


.fa-angle-down {

  display:none !important;
}

.fa-angle-up {

  display:none !important;
}


/* product-featured-img-css */
.ww_featured_content {text-align: center;}
@media (min-width: 575.98px) {
  .ww_featured_content .ww_fet_img { width: 50%;}
}


/*   h1.mob-title.wrsub_text {
position: relative;
}
h1.mob-title.wrsub_text:after {
position: absolute;
content: '®';
font-size: 12px;
top: -5px;
} */


.product-img {

  width: 100%;
  margin-right: AUTO;
  MARGIN-LEFT: AUTO;

}
.text_center__{text-align:center;}

div#details .product-img img{width: 40% !important;}
.tab-content div#details .product-img {width:100%;}
.tab-content div#details img{width: 50%;}
@media only screen and (max-width: 575px) {
  .tab-content div#details img, div#details .product-img img{width: 70%;}
}





.steps-frame .step-box:nth-child(2), .steps-frame .step-box:nth-child(3){display:none;}
.selection-popup { padding: 10px; overflow: hidden; overflow-y: auto;}
.selection-popup .quiz-page-wrapper {padding: 20px; max-width: 610px; position: relative; margin: 0 auto; height: 100%; overflow: hidden; overflow-y: auto; }
.selection-popup .quiz-page-wrapper:before {
  z-index: 1;
  width: 300px;
  height: 300px;
  right: 0;
  bottom: 30px;
  content: "";
  position: absolute;
  background: url(https://cdn.shopify.com/s/files/1/0417/9004/6370/files/b.png?v=1628852645) no-repeat;
  background-size: contain;
  background-position: center;
}
.popup-close {
  padding: 0!important;
  z-index: 3;
  width: 30px;
  height: 30px;
  padding-top: 4px;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: ease 0.25s all;
  transform: translate(50%, -50%);
  border-radius: 1000px; background: rgba(0,0,0,0.8)!important; font: 400 20px/28px 'Arial'; text-align: center; color: #fff!important;}

.popup-close:hover {
  transform: translate(50%, -50%) rotate(180deg);
  background: rgba(0,0,0,1)!important;
  text-decoration: none;
}
  .selection-popup .quiz-page-wrapper:before{
  display:none;
  }
.selection-popup .quiz-page-wrapper:after {
  z-index: 1;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  content: "";
  position: absolute;
  border: none;
  background:#f6dadf;
  border-radius: 3px;
}
.quiz-page-wrapper .steps-frame {
  z-index: 2;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  padding: 20px 0 50px;
}
.steps-frame .step-box {
  overflow: hidden;
}
.steps-frame .step-box.active { display: block; }
.quiz-page-wrapper .steps-frame .heading {
  color: #000;
  display: block;
  margin: 0 0 15px;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
  
/*   font: 400 30px/1.25 'Luimp', sans-serif; */
  font-size:45px;
  line-height:1.25;
  font-family: Nantes !important;
      font-weight: 900;
}
  .quiz-page-wrapper .steps-frame .heading:after {
  display:none;
  left: 50%;
  bottom: 0;
  content: "";
  height: 2px;
  width: 150px;
  position: absolute;
  background: #f1c0c9;
  transform: translateX(-50%);
}
.steps-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 20px;
  justify-content: center;
}
.steps-list li {
  padding: 7px;
  flex: 0 0 33.3333%;
}
.steps-list li.break {
  flex-basis: 100%;
  padding: 0;
  height: 0;
}
.steps-list input {
  width: 0;
  height: 0;
  left: -9999px;
  position: absolute;
}
.steps-list input:checked + .label {
  opacity: 1;
}
.quiz-page-wrapper .steps-list .label {
  padding: 0;
  opacity: 0.5;
  display: block;
  cursor: pointer;
  position: relative;
}
.quiz-page-wrapper .steps-list .image-frame {
  overflow: hidden;
  display: block;
  padding: 0;
  margin: 0;
  border: 2px solid #b17c84;
  
}
.steps-list .image-frame img {
  width: 100%;
  display: block;
}
.quiz-page-wrapper .steps-list .title {
/*   left: 0;
  right: 0;
  bottom: 0; */
  color: #000;
/*   position: absolute; */
  padding: 7px 0px;
  background: transparent;
  text-align: center;
  letter-spacing: 0.002em;
/*   font: 400 13px/normal 'Luimp', sans-serif; */
    font-family: Nantes !important;
  font-weight:700;
  text-align:center;
  display:block;
  text-transform:capitalize;

}
.steps-frame .btn {
  color: #fff;
  height: auto;
  padding: 10px 30px;
  border-radius: 10px;
  text-align: center;
  background: #b17c84;
  text-transform: uppercase;
  border: 1px solid #b17c84;
  letter-spacing: 0.003em;
  transition: all .3s ease-in-out;
/*   font: 700 16px/1 'Luimp', sans-serif; */
    font-family: 'Luimp';
  font-weight:700;
  line-height: inherit;

  display: inline-block;
  letter-spacing: 2px;
}
.quiz-page-wrapper .list {
  max-width: 90%;
  overflow: hidden;
/*   margin: 30px auto 100px; */
  margin: 30px auto 14px;
}
.quiz-page-wrapper .list li {
  margin: 0 0 45px;
}
.list li input {
  width: 0;
  height: 0;
  left: -9999px;
  position: absolute;
}
.quiz-page-wrapper .list label {
  opacity: 0.5;
  color: #000;
  display: block;
  cursor: pointer;
  text-align: center;
  text-transform: none;
  padding: 30px;
  letter-spacing:0;
  border: 2px solid #b17c84;
/*   font: 400 17px/1 'Luimp', sans-serif; */
    font-family: 'nanteslight';
  font-weight:700;
  font-size:22px !important;
  line-height: 1;
  border-radius:5px;

}
.list li input:checked + label { opacity: 1; }
.list li:nth-child(2) label {
  font-size: 14px;
}
.quiz-page-wrapper .step-three .lead {
  color: #000;
  display: block;
  margin: 0 !important;
  text-align: center;
/*   font: 400 24px/1.25 'Luimp', sans-serif; */
    font-family: 'nanteslight';
  font-weight:700;
  

}
.steps-frame .step-three .heading{
  padding: 0;
  font-size: 36px;
}
.steps-frame .step-three .heading:after {
  display: none;
}
.step-three .color-item, .step-three .image-holder {
  max-width: 90%;
  overflow: hidden;
  margin: 0 auto 20px;
}
.quiz-page-wrapper .step-three .image-holder {
  padding:0;
  max-width: 100%;
  margin: 0 0 46px;
  border: 2px solid #b17c84;
  border-radius:10px;
  
}
.step-three .title {
  color: #f1c0c9;
  display: block;
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline;
/*   font: italic 400 16px/1.25 'Luimp', sans-serif; */
    font-family: 'Luimp';
  font-weight:700;

}
@media (max-width: 767.98px) {
  .quiz-page-wrapper .steps-frame { padding: 9px 0 50px; }
  .quiz-page-wrapper .steps-frame .heading {
   font-size: 30px !important;
padding: 0 18px !important;
margin: 0 0 37px;
  }
  .steps-frame.first .heading {
    padding: 0 0 27px;
    margin: 0 0 38px;
  }
  .steps-frame .step-three .heading {
    font-size: 36px;
  }
  .selection-popup .quiz-page-wrapper {
    padding: 20px 8px;
  }
  .steps-list li {
    padding: 5px 1px;
  }
  .list {
    max-width: 275px;
  }
  .step-three .color-item, .step-three .image-holder {
    max-width: 233px;
  }
}
@media (max-width: 575.98px) {

  .list label {font-size:14px !important;}
  .steps-list .image-frame {
    margin: 0 0 24px;
  }
  .quiz-page-wrapper .steps-list .title {
    padding: 10px 0 3px;
    font-size: 12px;
  }
  .selection-popup .quiz-page-wrapper:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
/*   mhb */
</style>

<script type="text/javascript">
  var variant_darker = '';
  var variant_same = '';
  var variant_lighter = '';
  var variant_darker_title = '';
  var variant_same_title = '';
  var variant_lighter_title = '';
  var matched_var_title = '';
  var matched_var = '';

  $( document ).ready(function() {

    variant_darker = $('input[name=color]:checked', '#first_step_color').attr('variant-darker');
    variant_same = $('input[name=color]:checked', '#first_step_color').attr('variant-same');
    variant_lighter = $('input[name=color]:checked', '#first_step_color').attr('variant-lighter');
    variant_darker_title = $('input[name=color]:checked', '#first_step_color').attr('variant-darker-title');
    variant_same_title = $('input[name=color]:checked', '#first_step_color').attr('variant-same-title');
    variant_lighter_title = $('input[name=color]:checked', '#first_step_color').attr('variant-lighter-title');
    $('#brow1').val(variant_lighter);
    $('#brow2').val(variant_same);
    $('#brow3').val(variant_darker);
    $('#brow1').attr("variant-title",variant_lighter_title);
    $('#brow2').attr("variant-title",variant_same_title);
    $('#brow3').attr("variant-title",variant_darker_title);
    $('#matched_variant_title').text(variant_lighter_title);
    $('#matched_variant').val(variant_lighter);

  });
  $('#first_step_color input').on('change', function() {

    variant_darker = $('input[name=color]:checked', '#first_step_color').attr('variant-darker');
    variant_same = $('input[name=color]:checked', '#first_step_color').attr('variant-same');
    variant_lighter = $('input[name=color]:checked', '#first_step_color').attr('variant-lighter');
    variant_darker_title = $('input[name=color]:checked', '#first_step_color').attr('variant-darker-title');
    variant_same_title = $('input[name=color]:checked', '#first_step_color').attr('variant-same-title');
    variant_lighter_title = $('input[name=color]:checked', '#first_step_color').attr('variant-lighter-title');
    $('#brow1').val(variant_lighter);
    $('#brow2').val(variant_same);
    $('#brow3').val(variant_darker);
    $('#brow1').attr("variant-title",variant_lighter_title);
    $('#brow2').attr("variant-title",variant_same_title);
    $('#brow3').attr("variant-title",variant_darker_title);
    $('#matched_variant_title').text(variant_lighter_title);
    $('#matched_variant').val(variant_lighter);
  });
  $('#second_step_color input').on('change', function() {
    matched_var_title = $('input[name=brow_color]:checked', '#second_step_color').attr('variant-title');
    matched_var = $('input[name=brow_color]:checked', '#second_step_color').val();
    $('#matched_variant_title').text(matched_var_title);
    $('#matched_variant').val(matched_var);
  });

  $('#wr_next').click(function() {
    $('.current').removeClass('current').hide()
    .next().show().addClass('current');
    if ($('.current').hasClass('last')) {
      $('#wr_next').css('display', 'none');
    }
    $('#wr_prev').css('display', 'block');
  });

  $('#wr_prev').click(function() {
    $('.current').removeClass('current').hide()
    .prev().show().addClass('current');  
    if ($('.current').hasClass('first')) {
      $('#wr_prev').css('display', 'none');
    }
    $('#wr_next').css('display', 'block');
  });

  $("#wr_prev").click(function(){
    $("label#click").click(); 
    return false;
  });
</script>

