<style>
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
  .product-main .container .row .col-img-otr {
    flex: 0 0 auto;
    width: 100%;
  }
    
    .iq-heading-tips {
    font-family: 'Luimp';
    font-size: 28px;
    line-height: 1;
    margin: 0 0 30px;
    font-weight: 700;
      text-align: center;
    }
      
  @media only screen and (min-width: 767.98px) {
    
    .product-main .container .row .col-img-otr .video-main .default {
    box-shadow: none!important;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
	}
    
  }
  

</style>

<div class="outer-box">
<div class="product-main">
  <div class="container">
    <div class="row">
      <div class="col-img-otr">
<!--         <h2 class="iq-heading-tips"></h2> -->

<div class="video-main mobile box4">
              <video class="poster-image" poster="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/B1E6F4CA-BD8A-460F-B31A-7718446DAF12.png?v=1626181369" src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/IMG_7003_1.mp4?v=1621533160" data-overlay="0"></video>
<!--               <i class="fas fa-play"></i> -->
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-img-otr">
<!-- 		<h2 class="iq-heading-tips"></h2> -->
<div class="video-main mobile box4">
              <video class="poster-image" poster="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/59864C11-58B6-434B-8023-52DC5A2F7200.png?v=1626181369" src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/IMG_5783.mov?v=1619702988" data-overlay="0"></video>
<!--               <i class="fas fa-play"></i> -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>