<div class="template-page--main" data-full-width="true">
  <div data-item="rte-content">
    {{ page.content }}
  </div>
</div>
<style type="text/css">
  .template-page--main { 
    padding: 0; 
    max-width: 100%;
  }
  #friendbuylandingpage,
  #friendbuyfriendspage {
    margin-bottom: -7px;
  }
  
</style>