
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Product Detail</title>	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 

</head>
<body>
   <div class="product-detail new-page overflow-hidden custom-style00">
        <header class="header-wrapper">
            <div class="vessel-fluid">
                <div class="queue">
                    <div class="column">
                        <p>free shipping on orders over $50</p>
                    </div>
                </div>
                <div class="queue">
                    <div class="column">
                        <div class="header-menu">
                            <div class="menu-icon">
                                <div class="menu-icon-close"><i class="fa fa-bars" aria-hidden="true"></i></div>
                                <div class="menu-icon-open"><i class="fa fa-times" aria-hidden="true"></i></div>
                            </div>
                            <a href="#" class="header-logo"><img
                                    src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/logo.svg?v=1657132108"
                                    alt="img"></a>
                            <form class="search-wrapper">
                                <div class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
                                <div class="em-input"><input placeholder="Search..." type="search"></div>
                                <div class="search-icon-open"><i class="fa fa-times" aria-hidden="true"></i></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="queue">
                    <div class="column">
                        <div class="header-navigation">
                            <div class="currency-container">
                                <div class="em-currency">
                                    <span class="default-currency">USD $</span>
                                    <div class="currency-toggle">
                                        <div class="icon-chevron-down"><i class="fa fa-angle-down"
                                                aria-hidden="true"></i></div>
                                        <div class="icon-chevron-up"><i class="fa fa-angle-up" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <ul class="currency-list">
                                    <li><span>GBP £</span></li>
                                    <li><span>USD $</span></li>
                                </ul>
                            </div>
                            <nav class="navigation-menu">
                                <ul>
                                    <li><a href="#">home</a></li>
                                    <li><a href="#">shop</a></li>
                                    <li><a href="#">about</a></li>
                                    <li><a href="#">trio talk</a></li>
                                    <li><a href="#">color match</a></li>
                                </ul>
                            </nav>
                            <div class="header-cart">
                                <span>cart(1)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="product-main-slider">
            <div class="vessel">
                <div class="queue">
                    <div class="column-md-6 mb-4 mb-md-0">
                        <div class="queue mb-3 mb-lg-5">
                            <div class="column-3 ">
                                <div class="nav-short">
                                    <div class="img-slide"><img
                                            src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/sp-2.jpg?v=1658329924"
                                            alt="image"></div>
                                    <div class="img-slide"><img
                                            src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/sp-3.jpg?v=1658329924"
                                            alt="image"></div>
                                    <div class="img-slide"><img
                                            src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/sp-3.jpg?v=1658329924"
                                            alt="image"></div>
                                    <div class="img-slide"><img
                                            src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/sp-5.jpg?v=1658329924"
                                            alt="image"></div>
                                    <div class="img-slide"><img
                                            src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/slide1-min.png?v=1657029852"
                                            alt="image"></div>
                                    <div class="img-slide"><img
                                            src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/slide2-min.png?v=1657029852"
                                            alt="image"></div>

                                </div>
                            </div>
                            <div class="column-9 cus-pad0">
                                <div class="nav-large">
                                    <div class="img-slide"><img
                                            src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/sp-1.jpg?v=1658329931"
                                            alt="image"></div>
                                    <div class="img-slide"><img
                                            src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/sp-1.jpg?v=1658329931"
                                            alt="image"></div>
                                    <div class="img-slide"><img
                                            src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/sp-1.jpg?v=1658329931"
                                            alt="image"></div>
                                    <div class="img-slide"><img
                                            src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/sp-1.jpg?v=1658329931"
                                            alt="image"></div>
                                    <div class="img-slide"><img
                                            src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/sp-1.jpg?v=1658329931"
                                            alt="image"></div>
                                    <div class="img-slide"><img
                                            src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/sp-1.jpg?v=1658329931"
                                            alt="image"></div>
                                </div>
                            </div>
                        </div>
                        <div class="column-12 icon-wrap0">
                            <div class="queue justify-content-center">
                                <div class="column-4 column-lg-3 text-align-center" style="font-size:14px"><span class="bottom-i"><img
                                            src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/vegan_1.svg?v=1657029851"
                                            alt="image"></span>vegan</div>
                                <div class="column-4 column-lg-3 text-align-center" style="font-size:14px"><span class="bottom-i"><img
                                            src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/crueltyfree_1.svg?v=1657029851"
                                            alt="image"></span>cruelty-free</div>
                                <div class="column-4 column-lg-3 text-align-center" style="font-size:14px"><span class="bottom-i"><img
                                            src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/shell_1.svg?v=1657029851"
                                            alt="image"></span>Waterproof</div>
                            </div>
                        </div>
                    </div>
                    <div class="column-md-6">
                        <div class="main-content">
                            <h1>Brow Band</h1>
                            <div class="reviews-stars">
                                <div class="star-wrap"><img
                                        src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/Vector.svg?v=1657029851"
                                        alt="star-icon"><img
                                        src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/Vector.svg?v=1657029851"
                                        alt="star-icon"><img
                                        src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/Vector.svg?v=1657029851"
                                        alt="star-icon"><img
                                        src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/Vector.svg?v=1657029851"
                                        alt="star-icon"><img
                                        src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/Vector.svg?v=1657029851"
                                        alt="star-icon"></div>
                                <div class="count-review"><span>4,136 </span><span> Reviews</span></div>
                            </div>
                            <form class="price-form mb-4">
                                <div class="price-wrap"><span class="price">$38.00</span><span class="price-after">or 4 interest-free
                                        payments of <strong>$2.50</strong>with <img
                                            src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/logo-afterpay-black.png?v=1657046538"
                                            alt="image"></span>
                                </div>

                                <p>Designed to guide you as you define, shape and create your dream brows.</p>
                                 
                                <div class="btns-group"> 
                                    <button type="submit" class="btn-outline-primary">ADD TO MY BAG - $38</button>
                                </div>
                            </form>
                            <div class="tabs-main">
                                <ul class="tab-links-main">
                                  <li class="active" data-tab="det1"><a href="#details">About</a></li>
                                  <li class="" data-tab="ing1"><a href="#ingredients">Ingredients</a></li>
                                  <li class="" data-tab="shade1"><a href="#ingredients">Why We Love It</a></li>
                                 </ul>
                                 <div class="tab-content-about active" id="det1">
                                 <p >Designed to guide you to create your best brow shape. Our most popular brow kit comes with 12 stencils options, waterproof and smudge-proof pomade and our signature sponge brush.</p>
                                   <p>Simply find your stencil, tap the brow pomade with the sponge, and tap, tap, tap yourself to brows that wow. Create Perfect Brows in Seconds™ with this easy-to-use kit. Learn more about the steps and what makes our kit so special below. </p>
                                   <p>Our brow stencils are reusable and made from recyclable material.</p>
                                    </div>

                                    <div class="tab-content-about" id="ing1">
                                     <p >Designed to guide you to create your best brow shape. Our most popular brow kit comes with 12 stencils options, waterproof and smudge-proof pomade and our signature sponge brush.</p>
                                   <p>Simply find your stencil, tap the brow pomade with the sponge, and tap, tap, tap yourself to brows that wow. Create Perfect Brows in Seconds™ with this easy-to-use kit. Learn more about the steps and what makes our kit so special below. </p>
                              <p>Simply find your stencil, tap the brow pomade with the sponge, and tap, tap,</p>
                                        </div>
                                        
                                 <div class="tab-content-about" id="shade1">
                                  <p >Designed to guide you to create your best brow shape. Our most popular brow kit comes with 12 stencils options, waterproof and smudge-proof pomade and our signature sponge brush.</p>
                                <p>Simply find your stencil, tap the brow pomade with the sponge, and tap, tap</p>
                                   <p>Our brow stencils are reusable and made from recyclable material.</p>
                                    </div>
                                
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<div class="find-us-wrapper styled-wrap overflow-hidden custom-space">
			<div class="vessel">
				<div class="queue">
					<div class="column">
						<div class="content-container text-align-center mb-4">
							<h2 class="mb-3">Styled By You</h2>
                            <p>See how our <strong>#teamtrio </strong> styled our collection of products to create their best brows.</p>
						</div>	
					</div>
				</div>
				<div class="queue">
					<div class="column">
						<div class="find-container d-flex flex-wrap justify-content-center">
							<div class="image-container">
								<img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/Rectangle_61-min.jpg?v=1657029851" alt="img">
								<div class="content-img"><a href="#"><span>@michelleneria</span></a><span>brw lifting wax</span></div>
							</div>
							<div class="image-container"><img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/Rectangle_62-min.jpg?v=1657029851" alt="img">
								<div class="content-img"><a href="#"><span>@michelleneria</span></a><span>brw lifting wax</span></div>
							</div>
							<div class="image-container">
                                <img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/Rectangle_63-min.jpg?v=1657029851" alt="img">
                                <div class="content-img"><a href="#"><span>@michelleneria</span></a><span>brw lifting wax</span></div>
								
							</div>
							<div class="image-container"><img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/Rectangle_64-min.jpg?v=1657029851" alt="img">
                                <div class="content-img"><a href="#"><span>@michelleneria</span></a><span>brw lifting wax</span></div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

  
<div class="reviews-section">
    <div class="reviews-wrap">
        <img src="https://cdn.shopify.com/s/files/1/0417/9004/6370/files/Screen_Shot_2022-05-25_at_5.28_1_1.jpg?v=1657738837" alt="image">
    </div>
</div>
        <footer class="footer-wrapper custom-space">
            <div class="vessel-fluid">
                <div class="queue">
                    <div class="column-12 column-sm-4 column-lg-3 mb-3">
                        <ul>
                            <li>contact us</li>
                            <li><a href="mailto: info@triobeauty.com">INFO@TRIOBEAUTY.COM</a></li>
                        </ul>
                    </div>
                    <div class="column-12 column-sm-4 column-lg-3 mb-3">
                        <ul>
                            <li>our story</li>
                            <li><a href="#">REVIEW</a></li>
                            <li><a href="#">BLOG</a></li>
                            <li><a href="#">PRIVAY POLICY</a></li>
                        </ul>
                    </div>
                    <div class="column-12 column-sm-4 column-lg-3 mb-3">
                        <ul>
                            <li><a href="#">SHIPPING &amp; DEILIVERY</a></li>
                            <li><a href="#">RETURNS &amp; EXCHANGES</a></li>
                            <li><a href="#">GIVING BACK</a></li>
                        </ul>
                    </div>
                    <div class="column-12 column-sm-6 column-lg-3 mb-4">
                        <strong class="mb-1">Join Team Trio</strong>
                        <form class="form-vessel" action="#">
                            <input class="mb-2" id="email" type="email">
                            <label class="mb-3" for="email">BY CLICKING SIGN UP NOW, YOU AGREE TO RECEIVE MARKETING TEXT
                                MESSAGES FROM THE Brow TRIO AT THE NUMBER PROVIDED, INCLUDING MESSAGES SENT BY
                                AUTODIALER. CONSENT IS NOT A CONDITION OF ANY PURCHASE. MESSAGE AND DATA RATES MAY
                                APPLY. MESSAGE FREQUENCY VARIES. REPLY HELP FOR HELP OR STOP TO CANCEL. VIEW OUR PRIVACY
                                POLICY AND TERMS OF SERVICE.</label>
                            <button class="btn btn-primary">subscribe now</button>
                        </form>
                    </div>
                    <div class="column-12 text-align-center">
                        <p><a href="#"> © 2022 TRIO BEAUTY.</a> ALL RIGHTS RESERVED.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
</body>
</html>